<form class="form" [formGroup]="formSignUp" (ngSubmit)="signUp()">
  <div class="grid">
    <div class="row">
      <div class="column-1-2 form__group">
        <input type="text" formControlName="username" [(ngModel)]="model.username" name="" value="" placeholder="Enter your name">
        <small *ngIf="!formSignUp.controls['username'].valid && formSignUp.controls['username'].touched" class="text-danger">
          Username must have minimum 3 and maximum 30 characters
        </small>
      </div>
      <div class="column-1-2 form__group">
        <input type="email" formControlName="email" [(ngModel)]="model.email" name="" value="" placeholder="Email">
        <small *ngIf="!formSignUp.controls['email'].valid && formSignUp.controls['email'].touched" class="text-danger">
          Email must have minimum 4 and maximum 30 characters
        </small>
      </div>
    </div>
    <div class="row">
      <div class="column-1-2 form__group">
        <input type="password" formControlName="password" [(ngModel)]="model.password" name="" value="" placeholder="Enter password">
        <small *ngIf="!formSignUp.controls['password'].valid && formSignUp.controls['password'].touched" class="text-danger">
          Password must have minimum 6 and maximum 30 characters
        </small>
      </div>
      <div class="column-1-2 form__group">
        <input type="password" formControlName="confirmPassword" validateEqual="password" name="" value="" placeholder="Confirm password">
        <small *ngIf="!formSignUp.controls['confirmPassword'].valid && !formSignUp.controls['confirmPassword'].pristine" class="text-danger">
          Password mismatch
        </small>
      </div>
    </div>
    <div class="row">
      <div class="column-1-2">
        <button type="submit" [disabled]="!formSignUp.valid || loading" class="btn btn_submit">Sign Up</button>
      </div>
    </div>
  </div>
</form>
